@charset "utf-8";
/* CSS Document */

body {
	background-color: white;
}

/*Navigation*/
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: green;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 3;
}

.li {
  
  display: inline;
  font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
}

.li .a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li .a:hover, .dropdown:hover {
    background-color: black;
}
/*Navigation*/

.headingwrapper{
  width: 100%
  background-color: black;
  position: relative;
  top: 1vh;
  height: 20vh;
  right: 0;
  text-align: center;
  margin-bottom: 2vh;
}

.headingtext{
  font-size: 4em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
  padding: 4vh;
}

.headingbox{
  background-color: black;
  position: relative;
  width: 100%;
  right: 0;
}

.canvaswrapper{
  text-align: center;
}

#mycanvas {
	position: relative;
	text-align: center;
  display: block;
}

.counterwrapper{
  background-color: black;
  position: relative;
  width: 100%
  right: 0;
}

#quickOutput {
  font-size: 4em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
  padding: 4vh;
  padding-bottom: 1vh;
  margin-top: 2vh;
}

#swapLength {
  font-size: 4em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
  padding: 4vh;
  padding-top: 1vh;
  margin-top: 2vh;
}

.sortheadingwrapper {
  width: 100%;
  position: relative;
  top: 1vh;
  height: 20vh;
  right: 0;
  text-align: center;
}

.firstsortbox {
  background-color: red;
  position: relative;
  width: 13vw;
  float: left;
  top: 7.5vh;
  margin-left: 10.3vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.firstsortheading {
  font-size: 1.5em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
}

.secondsortbox{
  background-color: red;
  position: relative;
  width: 13vw;
  float: left;
  top: 7.5vh;
  margin-left: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
}

.secondsortheading{
  font-size: 1.5em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
}

.thirdsortbox{
  background-color: red;
  position: relative;
  width: 13vw;
  float: left;
  top: 7.5vh;
  margin-left: 1vh;
  padding-left: 3vw;
  padding-right: 3vw; 
}

.thirdsortheading{
  font-size: 1.5em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
}

.fourthsortbox{
  background-color: red;
  position: relative;
  width: 13vw;
  float: left;
  top: 7.5vh;
  margin-left: 1vh;
  padding-left: 3vw;
  padding-right: 3vw; 
}

.fourthsortheading{
  font-size: 1.5em;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  position: relative;
}
